<h4>BUSINESS:</h4>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 mb-2" *ngFor="let i of displayNews">
            <div class="card card h-100 "  style="width: 18rem;margin:10px;border:2px solid black;border-radius: 10px;">
                <img src="{{i.urlToImage}}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">{{i.title}}</h5>
                  <a href="{{i.url}}" target="_blank" class="btn btn-primary mt-auto">Go somewhere</a>
                </div>
              </div>
          </div>
      </div>
  </div>